name: JFrog Python CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: simple-python-pyinstaller-app-master

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Upgrade pip & install tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine setuptools wheel
        env:
          PIP_EXTRA_INDEX_URL: https://${{ secrets.JF_ACCESS_TOKEN }}@trialzi92ft.jfrog.io/artifactory/api/pypi/python-virtual/simple

      - name: Install Project
        run: pip install .
        env:
          PIP_EXTRA_INDEX_URL: https://${{ secrets.JF_ACCESS_TOKEN }}@trialzi92ft.jfrog.io/artifactory/api/pypi/python-virtual/simple

      - name: Build Package
        run: python -m build --no-isolation

      - name: Publish to JFrog
        run: twine upload --repository-url https://trialzi92ft.jfrog.io/artifactory/api/pypi/python-local dist/*
        env:
          TWINE_USERNAME: ${{ secrets.JF_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.JF_ACCESS_TOKEN }}