name: JFrog Maven POC

on:
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Java 21 (required by project)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      # Setup JFrog CLI
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      # Configure JFrog server
      - name: Configure JFrog
        run: |
          jfrog config add my-server \
            --url=${{ secrets.JF_URL }} \
            --access-token=${{ secrets.JF_ACCESS_TOKEN }} \
            --interactive=false

      # Build using standard Maven (stable)
      - name: Build Project
        working-directory: simple-java-maven-app-master
        run: mvn clean package

      # Upload artifact manually to JFrog
      - name: Upload Artifact
        run: |
          jfrog rt upload \
            "simple-java-maven-app-master/target/*.jar" \
            "maven-local/"

      # Publish Build Info
      - name: Publish Build Info
        run: |
          jf rt build-collect-env jfrog-poc ${{ github.run_number }}
          jf rt build-add-git jfrog-poc ${{ github.run_number }}
          jf rt build-publish jfrog-poc ${{ github.run_number }}