name: JFrog Maven POC

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ secrets.JF_URL }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}

      - name: Configure Maven
        run: |
          jfrog mvnc \
            --repo-resolve-releases=maven-virtual \
            --repo-resolve-snapshots=maven-virtual \
            --repo-deploy-releases=maven-local \
            --repo-deploy-snapshots=maven-local

      - name: Build
        working-directory: simple-java-maven-app-master
        run: jfrog rt mvn clean install

      - name: Deploy
        working-directory: simple-java-maven-app-master
        run: jfrog rt mvn deploy
