name: Test Plain Maven

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Maven
        uses: s4u/setup-maven-action@v1
        with:
          maven-version: '3.9.6'

      - name: Build (No JFrog)
        working-directory: simple-java-maven-app-master
        run: mvn clean install